<!DOCTYPE html>
<html>

<head>
    <title>Basic HTML</title>
</head>

<body>
    <center>
        <h1>Welcome to Eshikhon Web Development Class</h1>
        <hr>
        <img src="images/basic1.jpg" width="100%" height="300px" alt="web development">
        <h2>Introduction</h2>
        <hr>
    </center>
    <p><strong>Web development</strong> is the process of <u>developing a website</u>, from design to programming to
        server
        management.
        It
        includes both the technical back end (web development) and the visual front end (web design). Web developers
        can work on every step of this process or focus on a single aspect.
    </p>
    <center>
        <h2>Benefits of Learning Web Development</h2>
        <hr>
    </center>
    <ul>
        <li>
            Benefit 1
        </li>
        <li>
            Benefit 2
        </li>
        <li>
            Benefit 3
        </li>
    </ul>
    <center>
        <h2>Some Examples of Popular Website</h2>
        <hr>
    </center>
    <ol>
        <li>
            <a href="https://www.facebook.com/">Facebook</a>
        </li>
        <li>
            <a href="https://www.w3schools.com/">W3 Schools</a>
        </li>
        <li>
            Benefit 3
        </li>
    </ol>

    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Blood</th>
                <th>Height</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Salman</td>
                <td>0+</td>
                <td>5f11</td>
            </tr>
            <tr>
                <td>Shah Poran</td>
                <td>A+</td>
                <td>5f5</td>
            </tr>

        </tbody>


    </table><br><br>
    <form action="">
        <label for="">First Name</label>
        <input type="text">
        <label for="">Last Name</label>
        <input type="text">
        <label for="">Phone Number</label>
        <input type="number">
        <label for="">Email</label>
        <input type="email"><br>
        <label for="">Skills</label><br>
        <input type="checkbox">HTML<br>
        <input type="checkbox">CSS<br>
        <input type="checkbox">Python<br>
        <label for="">Gender</label><br>
        <input type="radio" name="gender">Male<br>
        <input type="radio" name="gender">Female<br>
        <label for="">Country</label><br>
        <select name="" id="">
            <option value="">Select your Country</option>
            <option value="">Bangladesh</option>
            <option value="">Uganda</option>
            <option value="">Canada</option>
            <option value="">Canada</option>
        </select><br>
        <input type="submit">
    </form>

</body>

</html>