<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/css/about.css' %}">
</head>

<body>
    <h1>Service Entry</h1>
    <form action="{% url 'service_insert' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="">Name</label>
        <input type="text" name="s_name"><br><br>
        <label for="">Description</label>
        <input type="text" name="s_desc"><br><br>
        <input type="file" name="img"><br><br>
        <input type="submit"><br><br>

    </form>

    <h2>HTML Table</h2>

    <table>
        <tr>
            <th>SL</th>
            <th>Name</th>
            <th>Description</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>

    </table>
</body>

</html>